<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>更新</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/3.3.7/css/bootstrap.min.css}">
	<script th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div class="container">
	<form class="form-horizontal" action="#" role="form" th:action="@{/pages/nideshop/comment/picture/update}" method="post">
		<div class="form-group">
			<label for="id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="id" id="id"
						placeholder="请输入" th:value="${data.id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="comment_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="comment_id" id="comment_id"
						placeholder="请输入" th:value="${data.comment_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="pic_url" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="pic_url" id="pic_url"
						placeholder="请输入" th:value="${data.pic_url}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="sort_order" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="sort_order" id="sort_order"
						placeholder="请输入" th:value="${data.sort_order}"/>
			</div>
		</div>
		<div style="text-align: right;">
			<button type="submit" class="btn btn-default">提交</button>
		</div>
	</form>
</div>

</body>
</html>