<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--商品画廊-->
<mapper namespace="com.wdk.nideshop.storage.dao.NideshopGoodsGalleryMapper">
	<!--返回值映射-->
	<resultMap id="BaseResultMap" type="com.wdk.nideshop.model.NideshopGoodsGallery">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="goods_id" jdbcType="INTEGER" property="goods_id"/>
		<result column="img_url" jdbcType="VARCHAR" property="img_url"/>
		<result column="img_desc" jdbcType="VARCHAR" property="img_desc"/>
		<result column="sort_order" jdbcType="INTEGER" property="sort_order"/>
	</resultMap>
	<!--查询数据库表开始-->
	<sql id="Base_Tables_Sql">
		nideshop_goods_gallery
	</sql>
	<!--查询数据库表结束-->
	<!--查询字段开始-->
	<sql id="Base_Column_Sql">
		id,goods_id,img_url,img_desc,sort_order
	</sql>
	<!--查询字段结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="goods_id != null">
			and goods_id=#{goods_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="img_url != null and img_url != ''">
			and img_url=#{img_url,jdbcType=VARCHAR}
		</if>
		<!---->
		<if test="img_desc != null and img_desc != ''">
			and img_desc=#{img_desc,jdbcType=VARCHAR}
		</if>
		<!---->
		<if test="sort_order != null">
			and sort_order=#{sort_order,jdbcType=INTEGER}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Db_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="goods_id != null">
			and goods_id=#{goods_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="img_url != null and img_url != ''">
			and img_url=#{img_url,jdbcType=VARCHAR}
		</if>
		<!---->
		<if test="img_desc != null and img_desc != ''">
			and img_desc=#{img_desc,jdbcType=VARCHAR}
		</if>
		<!---->
		<if test="sort_order != null">
			and sort_order=#{sort_order,jdbcType=INTEGER}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMapReturnMap" parameterType="java.util.Map" resultType="java.util.Map">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Db_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="list" parameterType="com.wdk.nideshop.model.NideshopGoodsGallery" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="count" parameterType="com.wdk.nideshop.model.NideshopGoodsGallery" resultType="java.lang.Integer">
		select count(*)

		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--新增表数据开始-->
	<insert id="insert" parameterType="com.wdk.nideshop.model.NideshopGoodsGallery">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_goods_gallery (
			goods_id,img_url,img_desc,
			sort_order
		)
		values (
			
			#{goods_id,jdbcType=INTEGER},#{img_url,jdbcType=VARCHAR},#{img_desc,jdbcType=VARCHAR},
			#{sort_order,jdbcType=INTEGER}
		)
	
	</insert>
	<!--新增表数据结束-->
	<!--新增表不为空数据开始-->
	<insert id="insertSelective" parameterType="com.wdk.nideshop.model.NideshopGoodsGallery">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_goods_gallery (
		<!---->
		<if test="goods_id != null">
			goods_id,
		</if>
		<!---->
		<if test="img_url != null and img_url != ''">
			img_url=#{img_url,jdbcType=VARCHAR},
		</if>
		<!---->
		<if test="img_desc != null and img_desc != ''">
			img_desc=#{img_desc,jdbcType=VARCHAR},
		</if>
		<!---->
		<if test="sort_order != null">
			sort_order,
		</if>
		)
		values (
		<!---->
		<if test="goods_id != null">
			#{goods_id,jdbcType=INTEGER},
		</if>
		<!---->
		<if test="img_url != null and img_url != ''">
			img_url=#{img_url,jdbcType=VARCHAR},
		</if>
		<!---->
		<if test="img_desc != null and img_desc != ''">
			img_desc=#{img_desc,jdbcType=VARCHAR},
		</if>
		<!---->
		<if test="sort_order != null">
			#{sort_order,jdbcType=INTEGER},
		</if>
		)
	
	</insert>
	<!--新增表不为空数据结束-->
	<!--批量新增表数据开始-->
	<insert id="batchInsert" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list != null and list.size != 0">
			insert into nideshop_goods_gallery (
				goods_id,img_url,img_desc,
				sort_order
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.goods_id,jdbcType=INTEGER},#{item.img_url,jdbcType=VARCHAR},#{item.img_desc,jdbcType=VARCHAR},
				#{item.sort_order,jdbcType=INTEGER}
				)
			</foreach>
		</if>
	</insert>
	<!--批量新增表数据结束-->
	<!--根据条件查询列表开始-->
	<select id="selectByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopGoodsGallery" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>id=#{id,jdbcType=INTEGER}</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据主键更新数据开始-->
	<update id="updateByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopGoodsGallery">
		update nideshop_goods_gallery
		set  
			goods_id=#{goods_id,jdbcType=INTEGER},
			img_url=#{img_url,jdbcType=VARCHAR},
			img_desc=#{img_desc,jdbcType=VARCHAR},
			sort_order=#{sort_order,jdbcType=INTEGER}
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新数据结束-->
	<!--根据主键更新不为空数据开始-->
	<!--商品画廊更新不为空-->
	<update id="updateSelectiveByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopGoodsGallery">
		update nideshop_goods_gallery
		<set>
			<!---->
			<if test="goods_id != null">
				goods_id=#{goods_id,jdbcType=INTEGER},
			</if>
			<!---->
			<if test="img_url != null and img_url != ''">
				img_url=#{img_url,jdbcType=VARCHAR},
			</if>
			<!---->
			<if test="img_desc != null and img_desc != ''">
				img_desc=#{img_desc,jdbcType=VARCHAR},
			</if>
			<!---->
			<if test="sort_order != null">
				sort_order=#{sort_order,jdbcType=INTEGER},
			</if>
		</set>
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新不为空数据结束-->
	<!--根据主键存在就更新，不存在就新增开始-->
	<!--商品画廊批量新增，存在就更新，不存在就插入-->
	<insert id="batchInsertUpdate" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list !=null and list.size != 0">
			insert into  nideshop_goods_gallery(
				goods_id,img_url,img_desc,
				sort_order
			)
			values 
 			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.goods_id,jdbcType=INTEGER},#{item.img_url,jdbcType=VARCHAR},#{item.img_desc,jdbcType=VARCHAR},
				#{item.sort_order,jdbcType=INTEGER})
			</foreach>
				ON DUPLICATE KEY UPDATE
				goods_id=#{goods_id,jdbcType=INTEGER},
				img_url=#{img_url,jdbcType=VARCHAR},
				img_desc=#{img_desc,jdbcType=VARCHAR},
				sort_order=#{sort_order,jdbcType=INTEGER}
		</if>
	</insert>
	<!--根据主键存在就更新，不存在就新增结束-->
	<!--批量更新开始-->
	<update id="batchUpdate">
		<if test="list != null and list.size != 0">
			update nideshop_goods_gallery
			<trim prefix="set" suffixOverrides=",">
				<!---->
				<trim prefix=" goods_id = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.goods_id!=null">
							when id=#{item.goods_id,jdbcType=INTEGER}
							then #{item.goods_id,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" img_url = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.img_url!=null">
							when id=#{item.img_url,jdbcType=INTEGER}
							then #{item.img_url,jdbcType=VARCHAR}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" img_desc = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.img_desc!=null">
							when id=#{item.img_desc,jdbcType=INTEGER}
							then #{item.img_desc,jdbcType=VARCHAR}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" sort_order = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.sort_order!=null">
							when id=#{item.sort_order,jdbcType=INTEGER}
							then #{item.sort_order,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
			</trim>
			<where>
				<foreach collection="list" separator="or" item="item" index="index">
					id=#{item.id,jdbcType=INTEGER}
				</foreach>
			</where>
		</if>
	</update>
	<!--批量更新结束-->
	<!--删除表数据开始-->
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
		delete from nideshop_goods_gallery
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</delete>
	<!--删除表数据结束-->
	<!--删除表数据开始-->
	<delete id="deleteBySelect" parameterType="com.wdk.nideshop.model.NideshopGoodsGallery">
		delete from nideshop_goods_gallery
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</delete>
	<!--删除表数据结束-->
</mapper>
