<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--快递公司-->
<mapper namespace="com.wdk.nideshop.storage.dao.NideshopShipperMapper">
	<!--返回值映射-->
	<resultMap id="BaseResultMap" type="com.wdk.nideshop.model.NideshopShipper">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="code" jdbcType="VARCHAR" property="code"/>
		<result column="sort_order" jdbcType="INTEGER" property="sort_order"/>
	</resultMap>
	<!--查询数据库表开始-->
	<sql id="Base_Tables_Sql">
		nideshop_shipper
	</sql>
	<!--查询数据库表结束-->
	<!--查询字段开始-->
	<sql id="Base_Column_Sql">
		id,name,code,sort_order
	</sql>
	<!--查询字段结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!--快递公司名称-->
		<if test="name != null and name != ''">
			and name=#{name,jdbcType=VARCHAR}
		</if>
		<!--快递公司代码-->
		<if test="code != null and code != ''">
			and code=#{code,jdbcType=VARCHAR}
		</if>
		<!--排序-->
		<if test="sort_order != null">
			and sort_order=#{sort_order,jdbcType=INTEGER}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Db_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!--快递公司名称-->
		<if test="name != null and name != ''">
			and name=#{name,jdbcType=VARCHAR}
		</if>
		<!--快递公司代码-->
		<if test="code != null and code != ''">
			and code=#{code,jdbcType=VARCHAR}
		</if>
		<!--排序-->
		<if test="sort_order != null">
			and sort_order=#{sort_order,jdbcType=INTEGER}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMapReturnMap" parameterType="java.util.Map" resultType="java.util.Map">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Db_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="list" parameterType="com.wdk.nideshop.model.NideshopShipper" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="count" parameterType="com.wdk.nideshop.model.NideshopShipper" resultType="java.lang.Integer">
		select count(*)

		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--新增表数据开始-->
	<insert id="insert" parameterType="com.wdk.nideshop.model.NideshopShipper">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_shipper (
			name,code,sort_order
		)
		values (
			
			#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{sort_order,jdbcType=INTEGER}
		)
	
	</insert>
	<!--新增表数据结束-->
	<!--新增表不为空数据开始-->
	<insert id="insertSelective" parameterType="com.wdk.nideshop.model.NideshopShipper">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_shipper (
		<!--快递公司名称-->
		<if test="name != null and name != ''">
			name=#{name,jdbcType=VARCHAR},
		</if>
		<!--快递公司代码-->
		<if test="code != null and code != ''">
			code=#{code,jdbcType=VARCHAR},
		</if>
		<!--排序-->
		<if test="sort_order != null">
			sort_order,
		</if>
		)
		values (
		<!--快递公司名称-->
		<if test="name != null and name != ''">
			name=#{name,jdbcType=VARCHAR},
		</if>
		<!--快递公司代码-->
		<if test="code != null and code != ''">
			code=#{code,jdbcType=VARCHAR},
		</if>
		<!--排序-->
		<if test="sort_order != null">
			#{sort_order,jdbcType=INTEGER},
		</if>
		)
	
	</insert>
	<!--新增表不为空数据结束-->
	<!--批量新增表数据开始-->
	<insert id="batchInsert" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list != null and list.size != 0">
			insert into nideshop_shipper (
				name,code,sort_order
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.name,jdbcType=VARCHAR},#{item.code,jdbcType=VARCHAR},#{item.sort_order,jdbcType=INTEGER}
				)
			</foreach>
		</if>
	</insert>
	<!--批量新增表数据结束-->
	<!--根据条件查询列表开始-->
	<select id="selectByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopShipper" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>id=#{id,jdbcType=INTEGER}</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据主键更新数据开始-->
	<update id="updateByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopShipper">
		update nideshop_shipper
		set  
			name=#{name,jdbcType=VARCHAR},
			code=#{code,jdbcType=VARCHAR},
			sort_order=#{sort_order,jdbcType=INTEGER}
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新数据结束-->
	<!--根据主键更新不为空数据开始-->
	<!--快递公司更新不为空-->
	<update id="updateSelectiveByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopShipper">
		update nideshop_shipper
		<set>
			<!--快递公司名称-->
			<if test="name != null and name != ''">
				name=#{name,jdbcType=VARCHAR},
			</if>
			<!--快递公司代码-->
			<if test="code != null and code != ''">
				code=#{code,jdbcType=VARCHAR},
			</if>
			<!--排序-->
			<if test="sort_order != null">
				sort_order=#{sort_order,jdbcType=INTEGER},
			</if>
		</set>
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新不为空数据结束-->
	<!--根据主键存在就更新，不存在就新增开始-->
	<!--快递公司批量新增，存在就更新，不存在就插入-->
	<insert id="batchInsertUpdate" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list !=null and list.size != 0">
			insert into  nideshop_shipper(
				name,code,sort_order
			)
			values 
 			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.name,jdbcType=VARCHAR},#{item.code,jdbcType=VARCHAR},#{item.sort_order,jdbcType=INTEGER})
			</foreach>
				ON DUPLICATE KEY UPDATE
				name=#{name,jdbcType=VARCHAR},
				code=#{code,jdbcType=VARCHAR},
				sort_order=#{sort_order,jdbcType=INTEGER}
		</if>
	</insert>
	<!--根据主键存在就更新，不存在就新增结束-->
	<!--批量更新开始-->
	<update id="batchUpdate">
		<if test="list != null and list.size != 0">
			update nideshop_shipper
			<trim prefix="set" suffixOverrides=",">
				<!--快递公司名称-->
				<trim prefix=" name = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.name!=null">
							when id=#{item.name,jdbcType=INTEGER}
							then #{item.name,jdbcType=VARCHAR}
						</if>
					</foreach>
				</trim>
				<!--快递公司代码-->
				<trim prefix=" code = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.code!=null">
							when id=#{item.code,jdbcType=INTEGER}
							then #{item.code,jdbcType=VARCHAR}
						</if>
					</foreach>
				</trim>
				<!--排序-->
				<trim prefix=" sort_order = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.sort_order!=null">
							when id=#{item.sort_order,jdbcType=INTEGER}
							then #{item.sort_order,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
			</trim>
			<where>
				<foreach collection="list" separator="or" item="item" index="index">
					id=#{item.id,jdbcType=INTEGER}
				</foreach>
			</where>
		</if>
	</update>
	<!--批量更新结束-->
	<!--删除表数据开始-->
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
		delete from nideshop_shipper
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</delete>
	<!--删除表数据结束-->
	<!--删除表数据开始-->
	<delete id="deleteBySelect" parameterType="com.wdk.nideshop.model.NideshopShipper">
		delete from nideshop_shipper
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</delete>
	<!--删除表数据结束-->
</mapper>
