<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!---->
<mapper namespace="com.wdk.nideshop.storage.dao.NideshopAttributeMapper">
	<!--返回值映射-->
	<resultMap id="BaseResultMap" type="com.wdk.nideshop.model.NideshopAttribute">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="attribute_category_id" jdbcType="INTEGER" property="attribute_category_id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="input_type" jdbcType="TINYINT" property="input_type"/>
		<result column="values" jdbcType="LONGVARCHAR" property="values"/>
		<result column="sort_order" jdbcType="TINYINT" property="sort_order"/>
	</resultMap>
	<!--查询数据库表开始-->
	<sql id="Base_Tables_Sql">
		nideshop_attribute
	</sql>
	<!--查询数据库表结束-->
	<!--查询字段开始-->
	<sql id="Base_Column_Sql">
		id,attribute_category_id,name,input_type,values,sort_order
	</sql>
	<!--查询字段结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="attribute_category_id != null">
			and attribute_category_id=#{attribute_category_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="name != null and name != ''">
			and name=#{name,jdbcType=VARCHAR}
		</if>
		<!---->
		<if test="input_type != null">
			and input_type=#{input_type,jdbcType=TINYINT}
		</if>
		<!---->
		<if test="values != null and values != ''">
			and values=#{values,jdbcType=LONGVARCHAR}
		</if>
		<!---->
		<if test="sort_order != null">
			and sort_order=#{sort_order,jdbcType=TINYINT}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Db_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="attribute_category_id != null">
			and attribute_category_id=#{attribute_category_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="name != null and name != ''">
			and name=#{name,jdbcType=VARCHAR}
		</if>
		<!---->
		<if test="input_type != null">
			and input_type=#{input_type,jdbcType=TINYINT}
		</if>
		<!---->
		<if test="values != null and values != ''">
			and values=#{values,jdbcType=LONGVARCHAR}
		</if>
		<!---->
		<if test="sort_order != null">
			and sort_order=#{sort_order,jdbcType=TINYINT}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMapReturnMap" parameterType="java.util.Map" resultType="java.util.Map">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Db_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="list" parameterType="com.wdk.nideshop.model.NideshopAttribute" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="count" parameterType="com.wdk.nideshop.model.NideshopAttribute" resultType="java.lang.Integer">
		select count(*)

		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--新增表数据开始-->
	<insert id="insert" parameterType="com.wdk.nideshop.model.NideshopAttribute">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_attribute (
			attribute_category_id,name,input_type,
			values,sort_order
		)
		values (
			
			#{attribute_category_id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{input_type,jdbcType=TINYINT},
			#{values,jdbcType=LONGVARCHAR},#{sort_order,jdbcType=TINYINT}
		)
	
	</insert>
	<!--新增表数据结束-->
	<!--新增表不为空数据开始-->
	<insert id="insertSelective" parameterType="com.wdk.nideshop.model.NideshopAttribute">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_attribute (
		<!---->
		<if test="attribute_category_id != null">
			attribute_category_id,
		</if>
		<!---->
		<if test="name != null and name != ''">
			name=#{name,jdbcType=VARCHAR},
		</if>
		<!---->
		<if test="input_type != null">
			input_type,
		</if>
		<!---->
		<if test="values != null and values != ''">
			values=#{values,jdbcType=LONGVARCHAR},
		</if>
		<!---->
		<if test="sort_order != null">
			sort_order,
		</if>
		)
		values (
		<!---->
		<if test="attribute_category_id != null">
			#{attribute_category_id,jdbcType=INTEGER},
		</if>
		<!---->
		<if test="name != null and name != ''">
			name=#{name,jdbcType=VARCHAR},
		</if>
		<!---->
		<if test="input_type != null">
			#{input_type,jdbcType=TINYINT},
		</if>
		<!---->
		<if test="values != null and values != ''">
			values=#{values,jdbcType=LONGVARCHAR},
		</if>
		<!---->
		<if test="sort_order != null">
			#{sort_order,jdbcType=TINYINT},
		</if>
		)
	
	</insert>
	<!--新增表不为空数据结束-->
	<!--批量新增表数据开始-->
	<insert id="batchInsert" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list != null and list.size != 0">
			insert into nideshop_attribute (
				attribute_category_id,name,input_type,
				values,sort_order
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.attribute_category_id,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR},#{item.input_type,jdbcType=TINYINT},
				#{item.values,jdbcType=LONGVARCHAR},#{item.sort_order,jdbcType=TINYINT}
				)
			</foreach>
		</if>
	</insert>
	<!--批量新增表数据结束-->
	<!--根据条件查询列表开始-->
	<select id="selectByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopAttribute" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>id=#{id,jdbcType=INTEGER}</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据主键更新数据开始-->
	<update id="updateByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopAttribute">
		update nideshop_attribute
		set  
			attribute_category_id=#{attribute_category_id,jdbcType=INTEGER},
			name=#{name,jdbcType=VARCHAR},
			input_type=#{input_type,jdbcType=TINYINT},
			values=#{values,jdbcType=LONGVARCHAR},
			sort_order=#{sort_order,jdbcType=TINYINT}
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新数据结束-->
	<!--根据主键更新不为空数据开始-->
	<!--更新不为空-->
	<update id="updateSelectiveByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopAttribute">
		update nideshop_attribute
		<set>
			<!---->
			<if test="attribute_category_id != null">
				attribute_category_id=#{attribute_category_id,jdbcType=INTEGER},
			</if>
			<!---->
			<if test="name != null and name != ''">
				name=#{name,jdbcType=VARCHAR},
			</if>
			<!---->
			<if test="input_type != null">
				input_type=#{input_type,jdbcType=TINYINT},
			</if>
			<!---->
			<if test="values != null and values != ''">
				values=#{values,jdbcType=LONGVARCHAR},
			</if>
			<!---->
			<if test="sort_order != null">
				sort_order=#{sort_order,jdbcType=TINYINT},
			</if>
		</set>
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新不为空数据结束-->
	<!--根据主键存在就更新，不存在就新增开始-->
	<!--批量新增，存在就更新，不存在就插入-->
	<insert id="batchInsertUpdate" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list !=null and list.size != 0">
			insert into  nideshop_attribute(
				attribute_category_id,name,input_type,
				values,sort_order
			)
			values 
 			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.attribute_category_id,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR},#{item.input_type,jdbcType=TINYINT},
				#{item.values,jdbcType=LONGVARCHAR},#{item.sort_order,jdbcType=TINYINT})
			</foreach>
				ON DUPLICATE KEY UPDATE
				attribute_category_id=#{attribute_category_id,jdbcType=INTEGER},
				name=#{name,jdbcType=VARCHAR},
				input_type=#{input_type,jdbcType=TINYINT},
				values=#{values,jdbcType=LONGVARCHAR},
				sort_order=#{sort_order,jdbcType=TINYINT}
		</if>
	</insert>
	<!--根据主键存在就更新，不存在就新增结束-->
	<!--批量更新开始-->
	<update id="batchUpdate">
		<if test="list != null and list.size != 0">
			update nideshop_attribute
			<trim prefix="set" suffixOverrides=",">
				<!---->
				<trim prefix=" attribute_category_id = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.attribute_category_id!=null">
							when id=#{item.attribute_category_id,jdbcType=INTEGER}
							then #{item.attribute_category_id,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" name = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.name!=null">
							when id=#{item.name,jdbcType=INTEGER}
							then #{item.name,jdbcType=VARCHAR}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" input_type = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.input_type!=null">
							when id=#{item.input_type,jdbcType=INTEGER}
							then #{item.input_type,jdbcType=TINYINT}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" values = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.values!=null">
							when id=#{item.values,jdbcType=INTEGER}
							then #{item.values,jdbcType=LONGVARCHAR}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" sort_order = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.sort_order!=null">
							when id=#{item.sort_order,jdbcType=INTEGER}
							then #{item.sort_order,jdbcType=TINYINT}
						</if>
					</foreach>
				</trim>
			</trim>
			<where>
				<foreach collection="list" separator="or" item="item" index="index">
					id=#{item.id,jdbcType=INTEGER}
				</foreach>
			</where>
		</if>
	</update>
	<!--批量更新结束-->
	<!--删除表数据开始-->
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
		delete from nideshop_attribute
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</delete>
	<!--删除表数据结束-->
	<!--删除表数据开始-->
	<delete id="deleteBySelect" parameterType="com.wdk.nideshop.model.NideshopAttribute">
		delete from nideshop_attribute
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</delete>
	<!--删除表数据结束-->
</mapper>
