<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!---->
<mapper namespace="com.wdk.nideshop.storage.dao.NideshopFootprintMapper">
	<!--返回值映射-->
	<resultMap id="BaseResultMap" type="com.wdk.nideshop.model.NideshopFootprint">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="user_id" jdbcType="INTEGER" property="user_id"/>
		<result column="goods_id" jdbcType="INTEGER" property="goods_id"/>
		<result column="add_time" jdbcType="INTEGER" property="add_time"/>
	</resultMap>
	<!--查询数据库表开始-->
	<sql id="Base_Tables_Sql">
		nideshop_footprint
	</sql>
	<!--查询数据库表结束-->
	<!--查询字段开始-->
	<sql id="Base_Column_Sql">
		id,user_id,goods_id,add_time
	</sql>
	<!--查询字段结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="user_id != null">
			and user_id=#{user_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="goods_id != null">
			and goods_id=#{goods_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="add_time != null">
			and add_time=#{add_time,jdbcType=INTEGER}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Db_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="user_id != null">
			and user_id=#{user_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="goods_id != null">
			and goods_id=#{goods_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="add_time != null">
			and add_time=#{add_time,jdbcType=INTEGER}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMapReturnMap" parameterType="java.util.Map" resultType="java.util.Map">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Db_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="list" parameterType="com.wdk.nideshop.model.NideshopFootprint" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="count" parameterType="com.wdk.nideshop.model.NideshopFootprint" resultType="java.lang.Integer">
		select count(*)

		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--新增表数据开始-->
	<insert id="insert" parameterType="com.wdk.nideshop.model.NideshopFootprint">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_footprint (
			user_id,goods_id,add_time
		)
		values (
			
			#{user_id,jdbcType=INTEGER},#{goods_id,jdbcType=INTEGER},#{add_time,jdbcType=INTEGER}
		)
	
	</insert>
	<!--新增表数据结束-->
	<!--新增表不为空数据开始-->
	<insert id="insertSelective" parameterType="com.wdk.nideshop.model.NideshopFootprint">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_footprint (
		<!---->
		<if test="user_id != null">
			user_id,
		</if>
		<!---->
		<if test="goods_id != null">
			goods_id,
		</if>
		<!---->
		<if test="add_time != null">
			add_time,
		</if>
		)
		values (
		<!---->
		<if test="user_id != null">
			#{user_id,jdbcType=INTEGER},
		</if>
		<!---->
		<if test="goods_id != null">
			#{goods_id,jdbcType=INTEGER},
		</if>
		<!---->
		<if test="add_time != null">
			#{add_time,jdbcType=INTEGER},
		</if>
		)
	
	</insert>
	<!--新增表不为空数据结束-->
	<!--批量新增表数据开始-->
	<insert id="batchInsert" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list != null and list.size != 0">
			insert into nideshop_footprint (
				user_id,goods_id,add_time
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.user_id,jdbcType=INTEGER},#{item.goods_id,jdbcType=INTEGER},#{item.add_time,jdbcType=INTEGER}
				)
			</foreach>
		</if>
	</insert>
	<!--批量新增表数据结束-->
	<!--根据条件查询列表开始-->
	<select id="selectByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopFootprint" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>id=#{id,jdbcType=INTEGER}</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据主键更新数据开始-->
	<update id="updateByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopFootprint">
		update nideshop_footprint
		set  
			user_id=#{user_id,jdbcType=INTEGER},
			goods_id=#{goods_id,jdbcType=INTEGER},
			add_time=#{add_time,jdbcType=INTEGER}
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新数据结束-->
	<!--根据主键更新不为空数据开始-->
	<!--更新不为空-->
	<update id="updateSelectiveByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopFootprint">
		update nideshop_footprint
		<set>
			<!---->
			<if test="user_id != null">
				user_id=#{user_id,jdbcType=INTEGER},
			</if>
			<!---->
			<if test="goods_id != null">
				goods_id=#{goods_id,jdbcType=INTEGER},
			</if>
			<!---->
			<if test="add_time != null">
				add_time=#{add_time,jdbcType=INTEGER},
			</if>
		</set>
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新不为空数据结束-->
	<!--根据主键存在就更新，不存在就新增开始-->
	<!--批量新增，存在就更新，不存在就插入-->
	<insert id="batchInsertUpdate" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list !=null and list.size != 0">
			insert into  nideshop_footprint(
				user_id,goods_id,add_time
			)
			values 
 			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.user_id,jdbcType=INTEGER},#{item.goods_id,jdbcType=INTEGER},#{item.add_time,jdbcType=INTEGER})
			</foreach>
				ON DUPLICATE KEY UPDATE
				user_id=#{user_id,jdbcType=INTEGER},
				goods_id=#{goods_id,jdbcType=INTEGER},
				add_time=#{add_time,jdbcType=INTEGER}
		</if>
	</insert>
	<!--根据主键存在就更新，不存在就新增结束-->
	<!--批量更新开始-->
	<update id="batchUpdate">
		<if test="list != null and list.size != 0">
			update nideshop_footprint
			<trim prefix="set" suffixOverrides=",">
				<!---->
				<trim prefix=" user_id = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.user_id!=null">
							when id=#{item.user_id,jdbcType=INTEGER}
							then #{item.user_id,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" goods_id = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.goods_id!=null">
							when id=#{item.goods_id,jdbcType=INTEGER}
							then #{item.goods_id,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" add_time = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.add_time!=null">
							when id=#{item.add_time,jdbcType=INTEGER}
							then #{item.add_time,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
			</trim>
			<where>
				<foreach collection="list" separator="or" item="item" index="index">
					id=#{item.id,jdbcType=INTEGER}
				</foreach>
			</where>
		</if>
	</update>
	<!--批量更新结束-->
	<!--删除表数据开始-->
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
		delete from nideshop_footprint
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</delete>
	<!--删除表数据结束-->
	<!--删除表数据开始-->
	<delete id="deleteBySelect" parameterType="com.wdk.nideshop.model.NideshopFootprint">
		delete from nideshop_footprint
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</delete>
	<!--删除表数据结束-->
</mapper>
