<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!---->
<mapper namespace="com.wdk.nideshop.storage.dao.NideshopUserCouponMapper">
	<!--返回值映射-->
	<resultMap id="BaseResultMap" type="com.wdk.nideshop.model.NideshopUserCoupon">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="coupon_id" jdbcType="TINYINT" property="coupon_id"/>
		<result column="coupon_number" jdbcType="VARCHAR" property="coupon_number"/>
		<result column="user_id" jdbcType="INTEGER" property="user_id"/>
		<result column="used_time" jdbcType="INTEGER" property="used_time"/>
		<result column="order_id" jdbcType="INTEGER" property="order_id"/>
	</resultMap>
	<!--查询数据库表开始-->
	<sql id="Base_Tables_Sql">
		nideshop_user_coupon
	</sql>
	<!--查询数据库表结束-->
	<!--查询字段开始-->
	<sql id="Base_Column_Sql">
		id,coupon_id,coupon_number,user_id,used_time,order_id
	</sql>
	<!--查询字段结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="coupon_id != null">
			and coupon_id=#{coupon_id,jdbcType=TINYINT}
		</if>
		<!---->
		<if test="coupon_number != null and coupon_number != ''">
			and coupon_number=#{coupon_number,jdbcType=VARCHAR}
		</if>
		<!---->
		<if test="user_id != null">
			and user_id=#{user_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="used_time != null">
			and used_time=#{used_time,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="order_id != null">
			and order_id=#{order_id,jdbcType=INTEGER}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--查询条件开始-->
	<sql id="Base_Where_Db_Sql">
		<!---->
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="coupon_id != null">
			and coupon_id=#{coupon_id,jdbcType=TINYINT}
		</if>
		<!---->
		<if test="coupon_number != null and coupon_number != ''">
			and coupon_number=#{coupon_number,jdbcType=VARCHAR}
		</if>
		<!---->
		<if test="user_id != null">
			and user_id=#{user_id,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="used_time != null">
			and used_time=#{used_time,jdbcType=INTEGER}
		</if>
		<!---->
		<if test="order_id != null">
			and order_id=#{order_id,jdbcType=INTEGER}
		</if>
	</sql>
	<!--查询条件结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMapReturnMap" parameterType="java.util.Map" resultType="java.util.Map">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Db_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="list" parameterType="com.wdk.nideshop.model.NideshopUserCoupon" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据条件查询列表开始-->
	<select id="count" parameterType="com.wdk.nideshop.model.NideshopUserCoupon" resultType="java.lang.Integer">
		select count(*)

		from  
		<include refid="Base_Tables_Sql"/>
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--新增表数据开始-->
	<insert id="insert" parameterType="com.wdk.nideshop.model.NideshopUserCoupon">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_user_coupon (
			coupon_id,coupon_number,user_id,
			used_time,order_id
		)
		values (
			
			#{coupon_id,jdbcType=TINYINT},#{coupon_number,jdbcType=VARCHAR},#{user_id,jdbcType=INTEGER},
			#{used_time,jdbcType=INTEGER},#{order_id,jdbcType=INTEGER}
		)
	
	</insert>
	<!--新增表数据结束-->
	<!--新增表不为空数据开始-->
	<insert id="insertSelective" parameterType="com.wdk.nideshop.model.NideshopUserCoupon">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		insert into nideshop_user_coupon (
		<!---->
		<if test="coupon_id != null">
			coupon_id,
		</if>
		<!---->
		<if test="coupon_number != null and coupon_number != ''">
			coupon_number=#{coupon_number,jdbcType=VARCHAR},
		</if>
		<!---->
		<if test="user_id != null">
			user_id,
		</if>
		<!---->
		<if test="used_time != null">
			used_time,
		</if>
		<!---->
		<if test="order_id != null">
			order_id,
		</if>
		)
		values (
		<!---->
		<if test="coupon_id != null">
			#{coupon_id,jdbcType=TINYINT},
		</if>
		<!---->
		<if test="coupon_number != null and coupon_number != ''">
			coupon_number=#{coupon_number,jdbcType=VARCHAR},
		</if>
		<!---->
		<if test="user_id != null">
			#{user_id,jdbcType=INTEGER},
		</if>
		<!---->
		<if test="used_time != null">
			#{used_time,jdbcType=INTEGER},
		</if>
		<!---->
		<if test="order_id != null">
			#{order_id,jdbcType=INTEGER},
		</if>
		)
	
	</insert>
	<!--新增表不为空数据结束-->
	<!--批量新增表数据开始-->
	<insert id="batchInsert" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list != null and list.size != 0">
			insert into nideshop_user_coupon (
				coupon_id,coupon_number,user_id,
				used_time,order_id
			)
			values
			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.coupon_id,jdbcType=TINYINT},#{item.coupon_number,jdbcType=VARCHAR},#{item.user_id,jdbcType=INTEGER},
				#{item.used_time,jdbcType=INTEGER},#{item.order_id,jdbcType=INTEGER}
				)
			</foreach>
		</if>
	</insert>
	<!--批量新增表数据结束-->
	<!--根据条件查询列表开始-->
	<select id="selectByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopUserCoupon" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_Sql"/>
		from  
		<include refid="Base_Tables_Sql"/>
		<where>id=#{id,jdbcType=INTEGER}</where>
	</select>
	<!--根据条件查询列表结束-->
	<!--根据主键更新数据开始-->
	<update id="updateByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopUserCoupon">
		update nideshop_user_coupon
		set  
			coupon_id=#{coupon_id,jdbcType=TINYINT},
			coupon_number=#{coupon_number,jdbcType=VARCHAR},
			user_id=#{user_id,jdbcType=INTEGER},
			used_time=#{used_time,jdbcType=INTEGER},
			order_id=#{order_id,jdbcType=INTEGER}
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新数据结束-->
	<!--根据主键更新不为空数据开始-->
	<!--更新不为空-->
	<update id="updateSelectiveByPrimaryKey" parameterType="com.wdk.nideshop.model.NideshopUserCoupon">
		update nideshop_user_coupon
		<set>
			<!---->
			<if test="coupon_id != null">
				coupon_id=#{coupon_id,jdbcType=TINYINT},
			</if>
			<!---->
			<if test="coupon_number != null and coupon_number != ''">
				coupon_number=#{coupon_number,jdbcType=VARCHAR},
			</if>
			<!---->
			<if test="user_id != null">
				user_id=#{user_id,jdbcType=INTEGER},
			</if>
			<!---->
			<if test="used_time != null">
				used_time=#{used_time,jdbcType=INTEGER},
			</if>
			<!---->
			<if test="order_id != null">
				order_id=#{order_id,jdbcType=INTEGER},
			</if>
		</set>
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</update>
	<!--根据主键更新不为空数据结束-->
	<!--根据主键存在就更新，不存在就新增开始-->
	<!--批量新增，存在就更新，不存在就插入-->
	<insert id="batchInsertUpdate" parameterType="java.util.List">
		<selectKey keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
		<if test="list !=null and list.size != 0">
			insert into  nideshop_user_coupon(
				coupon_id,coupon_number,user_id,
				used_time,order_id
			)
			values 
 			<foreach collection="list" item="item" index="index" separator=",">
				(
				#{item.coupon_id,jdbcType=TINYINT},#{item.coupon_number,jdbcType=VARCHAR},#{item.user_id,jdbcType=INTEGER},
				#{item.used_time,jdbcType=INTEGER},#{item.order_id,jdbcType=INTEGER})
			</foreach>
				ON DUPLICATE KEY UPDATE
				coupon_id=#{coupon_id,jdbcType=TINYINT},
				coupon_number=#{coupon_number,jdbcType=VARCHAR},
				user_id=#{user_id,jdbcType=INTEGER},
				used_time=#{used_time,jdbcType=INTEGER},
				order_id=#{order_id,jdbcType=INTEGER}
		</if>
	</insert>
	<!--根据主键存在就更新，不存在就新增结束-->
	<!--批量更新开始-->
	<update id="batchUpdate">
		<if test="list != null and list.size != 0">
			update nideshop_user_coupon
			<trim prefix="set" suffixOverrides=",">
				<!---->
				<trim prefix=" coupon_id = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.coupon_id!=null">
							when id=#{item.coupon_id,jdbcType=INTEGER}
							then #{item.coupon_id,jdbcType=TINYINT}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" coupon_number = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.coupon_number!=null">
							when id=#{item.coupon_number,jdbcType=INTEGER}
							then #{item.coupon_number,jdbcType=VARCHAR}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" user_id = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.user_id!=null">
							when id=#{item.user_id,jdbcType=INTEGER}
							then #{item.user_id,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" used_time = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.used_time!=null">
							when id=#{item.used_time,jdbcType=INTEGER}
							then #{item.used_time,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
				<!---->
				<trim prefix=" order_id = case " suffix="end,">
					<foreach collection="list" item="item" index="index">
						<if test="item.order_id!=null">
							when id=#{item.order_id,jdbcType=INTEGER}
							then #{item.order_id,jdbcType=INTEGER}
						</if>
					</foreach>
				</trim>
			</trim>
			<where>
				<foreach collection="list" separator="or" item="item" index="index">
					id=#{item.id,jdbcType=INTEGER}
				</foreach>
			</where>
		</if>
	</update>
	<!--批量更新结束-->
	<!--删除表数据开始-->
	<delete id="deleteByPrimaryKey" parameterType="java.util.Map">
		delete from nideshop_user_coupon
		<!--主键查询-->
		<where>id=#{id,jdbcType=INTEGER}</where>
	</delete>
	<!--删除表数据结束-->
	<!--删除表数据开始-->
	<delete id="deleteBySelect" parameterType="com.wdk.nideshop.model.NideshopUserCoupon">
		delete from nideshop_user_coupon
		<where>
			<include refid="Base_Where_Sql"/>
		</where>
	</delete>
	<!--删除表数据结束-->
</mapper>
