<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>更新</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/3.3.7/css/bootstrap.min.css}">
	<script th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div class="container">
	<form class="form-horizontal" action="#" role="form" th:action="@{/pages/nideshop/address/update}" method="post">
		<div class="form-group">
			<label for="id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="id" id="id"
						placeholder="请输入" th:value="${data.id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="name" id="name"
						placeholder="请输入" th:value="${data.name}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="user_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="user_id" id="user_id"
						placeholder="请输入" th:value="${data.user_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="country_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="country_id" id="country_id"
						placeholder="请输入" th:value="${data.country_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="province_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="province_id" id="province_id"
						placeholder="请输入" th:value="${data.province_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="city_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="city_id" id="city_id"
						placeholder="请输入" th:value="${data.city_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="district_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="district_id" id="district_id"
						placeholder="请输入" th:value="${data.district_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="address" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="address" id="address"
						placeholder="请输入" th:value="${data.address}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="mobile" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="mobile" id="mobile"
						placeholder="请输入" th:value="${data.mobile}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="is_default" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="is_default" id="is_default"
						placeholder="请输入" th:value="${data.is_default}"/>
			</div>
		</div>
		<div style="text-align: right;">
			<button type="submit" class="btn btn-default">提交</button>
		</div>
	</form>
</div>

</body>
</html>