<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>类别更新</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/3.3.7/css/bootstrap.min.css}">
	<script th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div class="container">
	<form class="form-horizontal" action="#" role="form" th:action="@{/pages/nideshop/category/update}" method="post">
		<div class="form-group">
			<label for="id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="id" id="id"
						placeholder="请输入" th:value="${data.id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="name" id="name"
						placeholder="请输入" th:value="${data.name}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="keywords" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="keywords" id="keywords"
						placeholder="请输入" th:value="${data.keywords}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="front_desc" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="front_desc" id="front_desc"
						placeholder="请输入" th:value="${data.front_desc}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="parent_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="parent_id" id="parent_id"
						placeholder="请输入" th:value="${data.parent_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="sort_order" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="sort_order" id="sort_order"
						placeholder="请输入" th:value="${data.sort_order}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="show_index" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="show_index" id="show_index"
						placeholder="请输入" th:value="${data.show_index}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="is_show" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="is_show" id="is_show"
						placeholder="请输入" th:value="${data.is_show}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="banner_url" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="banner_url" id="banner_url"
						placeholder="请输入" th:value="${data.banner_url}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="icon_url" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="icon_url" id="icon_url"
						placeholder="请输入" th:value="${data.icon_url}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="img_url" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="img_url" id="img_url"
						placeholder="请输入" th:value="${data.img_url}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="wap_banner_url" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="wap_banner_url" id="wap_banner_url"
						placeholder="请输入" th:value="${data.wap_banner_url}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="level" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="level" id="level"
						placeholder="请输入" th:value="${data.level}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="type" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="type" id="type"
						placeholder="请输入" th:value="${data.type}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="front_name" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="front_name" id="front_name"
						placeholder="请输入" th:value="${data.front_name}"/>
			</div>
		</div>
		<div style="text-align: right;">
			<button type="submit" class="btn btn-default">提交</button>
		</div>
	</form>
</div>

</body>
</html>