<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>更新</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/3.3.7/css/bootstrap.min.css}">
	<script th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div class="container">
	<form class="form-horizontal" action="#" role="form" th:action="@{/pages/nideshop/cart/update}" method="post">
		<div class="form-group">
			<label for="id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="id" id="id"
						placeholder="请输入" th:value="${data.id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="user_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="user_id" id="user_id"
						placeholder="请输入" th:value="${data.user_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="session_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="session_id" id="session_id"
						placeholder="请输入" th:value="${data.session_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="goods_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="goods_id" id="goods_id"
						placeholder="请输入" th:value="${data.goods_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="goods_sn" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="goods_sn" id="goods_sn"
						placeholder="请输入" th:value="${data.goods_sn}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="product_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="product_id" id="product_id"
						placeholder="请输入" th:value="${data.product_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="goods_name" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="goods_name" id="goods_name"
						placeholder="请输入" th:value="${data.goods_name}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="market_price" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="market_price" id="market_price"
						placeholder="请输入" th:value="${data.market_price}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="retail_price" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="retail_price" id="retail_price"
						placeholder="请输入" th:value="${data.retail_price}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="number" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="number" id="number"
						placeholder="请输入" th:value="${data.number}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="goods_specifition_name_value" class="col-sm-2 control-label">规格属性组成的字符串，用来显示用:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="goods_specifition_name_value" id="goods_specifition_name_value"
						placeholder="请输入规格属性组成的字符串，用来显示用" th:value="${data.goods_specifition_name_value}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="goods_specifition_ids" class="col-sm-2 control-label">product表对应的goods_specifition_ids:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="goods_specifition_ids" id="goods_specifition_ids"
						placeholder="请输入product表对应的goods_specifition_ids" th:value="${data.goods_specifition_ids}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="checked" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="checked" id="checked"
						placeholder="请输入" th:value="${data.checked}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="list_pic_url" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="list_pic_url" id="list_pic_url"
						placeholder="请输入" th:value="${data.list_pic_url}"/>
			</div>
		</div>
		<div style="text-align: right;">
			<button type="submit" class="btn btn-default">提交</button>
		</div>
	</form>
</div>

</body>
</html>