<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>订单物流信息表，发货时生成更新</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/3.3.7/css/bootstrap.min.css}">
	<script th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div class="container">
	<form class="form-horizontal" action="#" role="form" th:action="@{/pages/nideshop/order/express/update}" method="post">
		<div class="form-group">
			<label for="id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="id" id="id"
						placeholder="请输入" th:value="${data.id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="order_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="order_id" id="order_id"
						placeholder="请输入" th:value="${data.order_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="shipper_id" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="shipper_id" id="shipper_id"
						placeholder="请输入" th:value="${data.shipper_id}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="shipper_name" class="col-sm-2 control-label">物流公司名称:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="shipper_name" id="shipper_name"
						placeholder="请输入物流公司名称" th:value="${data.shipper_name}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="shipper_code" class="col-sm-2 control-label">物流公司代码:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="shipper_code" id="shipper_code"
						placeholder="请输入物流公司代码" th:value="${data.shipper_code}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="logistic_code" class="col-sm-2 control-label">快递单号:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="logistic_code" id="logistic_code"
						placeholder="请输入快递单号" th:value="${data.logistic_code}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="traces" class="col-sm-2 control-label">物流跟踪信息:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="traces" id="traces"
						placeholder="请输入物流跟踪信息" th:value="${data.traces}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="is_finish" class="col-sm-2 control-label">:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="is_finish" id="is_finish"
						placeholder="请输入" th:value="${data.is_finish}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="request_count" class="col-sm-2 control-label">总查询次数:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="request_count" id="request_count"
						placeholder="请输入总查询次数" th:value="${data.request_count}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="request_time" class="col-sm-2 control-label">最近一次向第三方查询物流信息时间:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="request_time" id="request_time"
						placeholder="请输入最近一次向第三方查询物流信息时间" th:value="${data.request_time}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="add_time" class="col-sm-2 control-label">添加时间:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="add_time" id="add_time"
						placeholder="请输入添加时间" th:value="${data.add_time}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="update_time" class="col-sm-2 control-label">更新时间:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="update_time" id="update_time"
						placeholder="请输入更新时间" th:value="${data.update_time}"/>
			</div>
		</div>
		<div style="text-align: right;">
			<button type="submit" class="btn btn-default">提交</button>
		</div>
	</form>
</div>

</body>
</html>